<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>618468329948-fdurrdlrbg6de58b85psoitpl1o2bvdr.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.618468329948-fdurrdlrbg6de58b85psoitpl1o2bvdr</string>
    <key>API_KEY</key>
    <string>AIzaSyCrYSPkM-o-bkU2M6zeYgqCnrvPWmFE6Gc</string>
    <key>GCM_SENDER_ID</key>
    <string>618468329948</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>ain.BC2</string>
    <key>PROJECT_ID</key>
    <string>bc2-signin</string>
    <key>STORAGE_BUCKET</key>
    <string>bc2-signin.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <true/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:618468329948:ios:ef7abd74566a09c7ae2719</string>
    <key>CFBundleIdentifier</key>
    <string>com.googleusercontent.apps.618468329948-fdurrdlrbg6de58b85psoitpl1o2bvdr</string>
</dict>
</plist>
